doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1"
		)
		title= "ГлавИдея — Просто так быстрее"
		link(
			rel="stylesheet",
			href="css/style.min.css"
		)
		script(src="js/libs.min.js")
		script(src="js/main.js")

		link(
			rel="stylesheet", 
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css",
			integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==",
			crossorigin="anonymous",
			referrerpolicy="no-referrer" 
		)

	body
		include ../pug-parts/header/header.pug
		
		include ../pug-parts/promo/promo.pug
		
		include ../pug-parts/advantage/advantage.pug

		include ../pug-parts/action/action.pug

		include ../pug-parts/footer/footer.pug
